@media screen and (max-width:500px)
{

 .navigation_menu {
    width: 100%;
  }


  
  .navigation_tabs {
     counter-reset: step;
  }
  
  /* one item */
  .navigation_tabs li:first-child:nth-last-child(1) {
    width: 100%;
  }
  
  /* two items */
  .navigation_tabs li:first-child:nth-last-child(2),
  .navigation_tabs li:first-child:nth-last-child(2) ~ li {
    width: 80%;
  }
  
  /* three items */
  .navigation_tabs li:first-child:nth-last-child(3),
  .navigation_tabs li:first-child:nth-last-child(3) ~ li {
    width: 30.3333%;
  }
  
  /* four items */
  .navigation_tabs li:first-child:nth-last-child(4),
  .navigation_tabs li:first-child:nth-last-child(4) ~ li {
    width: 24%;
  }
  
  /* five items */
  .navigation_tabs li:first-child:nth-last-child(5),
  .navigation_tabs li:first-child:nth-last-child(5) ~ li {
    width: 19%;
  }
  
  /* six items */
  .navigation_tabs li:first-child:nth-last-child(6),
  .navigation_tabs li:first-child:nth-last-child(6) ~ li {
    width: 16%;
  }
  
  /* seven items */
  .navigation_tabs li:first-child:nth-last-child(7),
  .navigation_tabs li:first-child:nth-last-child(7) ~ li {
    width: 13.5%;
  }
  /* eight items */
  .navigation_tabs li:first-child:nth-last-child(8),
  .navigation_tabs li:first-child:nth-last-child(8) ~ li {
    width:32%;
  }
  .navigation_tabs li {
    list-style: none;
    display: inline-block;
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  
  a {
    color: #000;
  }
  
  .navigation_tabs li a {
    text-decoration: none;  
  }
  
  .navigation_tabs li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height : 30px;
    border: 1px solid #ddd;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
  }
  .navigation_tabs li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #ddd;
    top: 13px;
    left: -50%;
    z-index : -1;
  }
  
  .navigation_tabs li:first-child:after {
    content: none;
  }
  
  .navigation_tabs li.tab_active,
  .navigation_tabs li.tab_inactive,
  .navigation_tabs li.tab_active a,
  .navigation_tabs li.tab_inactive a{
    color: #D12823;
  }
  
  .navigation_tabs li.tab_active a:hover,
  .navigation_tabs li.tab_inactive a:hover {
    font-weight: bold;
  }
  
  
  .navigation_tabs li.tab_active:before {
    border-color:C #D12823;
  }
  
  .navigation_tabs li.tab_inactive:before {
    border-color: #D12823;
    background-color: #D12823;
    color: #fff;
    content: "\2713";
  } 
  
  
  .navigation_tabs li.tab_inactive + li:after {
    background-color:#D12823;
  }

}
@media screen and (min-width:500px)
{

 .navigation_menu {
    width: 100%;
  }


  
  .navigation_tabs {
     counter-reset: step;
  }
  
  /* one item */
  .navigation_tabs li:first-child:nth-last-child(1) {
    width: 100%;
  }
  
  /* two items */
  .navigation_tabs li:first-child:nth-last-child(2),
  .navigation_tabs li:first-child:nth-last-child(2) ~ li {
    width: 80%;
  }
  
  /* three items */
  .navigation_tabs li:first-child:nth-last-child(3),
  .navigation_tabs li:first-child:nth-last-child(3) ~ li {
    width: 30.3333%;
  }
  
  /* four items */
  .navigation_tabs li:first-child:nth-last-child(4),
  .navigation_tabs li:first-child:nth-last-child(4) ~ li {
    width: 24%;
  }
  
  /* five items */
  .navigation_tabs li:first-child:nth-last-child(5),
  .navigation_tabs li:first-child:nth-last-child(5) ~ li {
    width: 19%;
  }
  
  /* six items */
  .navigation_tabs li:first-child:nth-last-child(6),
  .navigation_tabs li:first-child:nth-last-child(6) ~ li {
    width: 16%;
  }
  
  /* seven items */
  .navigation_tabs li:first-child:nth-last-child(7),
  .navigation_tabs li:first-child:nth-last-child(7) ~ li {
    width: 13.5%;
  }
  /* eight items */
  .navigation_tabs li:first-child:nth-last-child(8),
  .navigation_tabs li:first-child:nth-last-child(8) ~ li {
    width:12%;
  }
  .navigation_tabs li {
    list-style: none;
    display: inline-block;
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  
  a {
    color: #000;
  }
  
  .navigation_tabs li a {
    text-decoration: none;  
  }
  
  .navigation_tabs li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height : 30px;
    border: 1px solid #ddd;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
  }
  .navigation_tabs li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #ddd;
    top: 13px;
    left: -50%;
    z-index : -1;
  }
  
  .navigation_tabs li:first-child:after {
    content: none;
  }
  
  .navigation_tabs li.tab_active,
  .navigation_tabs li.tab_inactive,
  .navigation_tabs li.tab_active a,
  .navigation_tabs li.tab_inactive a{
    color: #D12823;
  }
  
  .navigation_tabs li.tab_active a:hover,
  .navigation_tabs li.tab_inactive a:hover {
    font-weight: bold;
  }
  
  
  .navigation_tabs li.tab_active:before {
    border-color:C #D12823;
  }
  
  .navigation_tabs li.tab_inactive:before {
    border-color: #D12823;
    background-color: #D12823;
    color: #fff;
    content: "\2713";
  } 
  
  
  .navigation_tabs li.tab_inactive + li:after {
    background-color:#D12823;
  }

}